/* Custom CSS for the add review popup */
.add-review-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Set a higher z-index to ensure it's displayed above other elements */
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-review-popup h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #cc6666; /* Red color for the title */
}

.add-review-popup textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555555;
    border-radius: 5px;
}

.add-review-popup input[type="submit"], .add-review-popup button {
    background-color: #cc6666;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-review-popup input[type="submit"]:hover, .add-review-popup button:hover {
    background-color: #cc5050;
}

.add-review-popup button {
    background-color: #555555;
    margin-left: 10px;
}

.add-review-popup button:hover {
    background-color: #333333;
}
