body {
    font-family: 'Arial', sans-serif;
    background-color: #282c35; /* Dark background color */
    color: #fff; /* Light text color */
    text-align: center;
    margin: 20px;
}

h1 {
    color: #ffcc00; /* Yellow heading color */
    font-size:72px

}

.anime-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.anime-item {
    width: 300px;
    margin: 10px;
    text-align: center;
    background-color: #404040; /* Dark gray background color */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* White shadow effect */
}

.anime-item h2 {
    color: #00bcd4; /* Cyan heading color */
}

.anime-item img {
    border-radius: 5px;
}

/* Add hover effect */
.anime-item:hover {
    background-color: #505050; /* Slightly lighter gray on hover */
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Add a unique style for the golden anime */
/* Add a unique style for the golden anime */
.golden-anime {
    background-color: #ffd700; /* Golden color */
    border: 10px solid #000; /* Thick black border */
    border-radius: 30px; /* Optional: Rounded corners */
    padding: 10px; /* Optional: Add padding */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Black shadow */
    color: #000; /* Black text color */
}
