<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Show Website</title>
    <link href="{{ url_for('static', filename='homepage.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='lgn_btn.css') }}">

</head>
<body>

    <h1>Welcome to the Best Anime Show!</h1>

    <ul class="anime-list">
        {% for anime in anime_list %}
            <l class="anime-item {% if loop.index == 1 %}golden-anime{% endif %}">
                <h2>{{ anime.name }}</h2>
                <a href="{{ url_for('series_display', anime_id=anime.id, user_is_active = user_is_active | int) }}">
                    <img src="{{ url_for('static', filename=anime.image) }}" alt="{{ 'Anime ' + loop.index|string }}" width="300" height="400">
                </a>
            </l>
            {% if loop.index % 3 == 0 %}
                <br>
            {% endif %}
        {% endfor %}
    </ul>

    {% if user_is_active %}
        <a href="{{ url_for('logout') }}" class="sticky-login">Logout</a>
        <p class="username-info">Logged in as: {{ username }}</p>
    {% else %}
        <a href="{{ url_for('show_login') }}" class="sticky-login">Login</a>
    {% endif %}

</body>
</html>
